<div class="container-fluid fundo">
    <div class="row mt-5 mb-5">
        <div class="imagem col-sm"></div>    
        <div class="col-sm">
          
            
            <h3 class="mt-5 ml-5"> <div class="tamanho mr-5"></div> Quick Install</h3>
            <p class="ml-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud.
            </p>
           
 
            <h3 class="mt-5 ml-5"><div class="tamanho mr-5"></div>  Quick Install</h3>
            <p class="ml-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud.
            </p>
        </div>
    </div>
</div>