<div class="container">
    <div class="d-flex justify-content-center align-items-center my-5">
        <h2 class="risco display-4 mt-5">Price Table</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="fundo d-flex justify-content-center align-items-center flex-column p-4">
                <h4><small>$ </small> 12<span> / month</span></h4>
                <p class="font-weight-bold">Basic</p>
                <p class="fundo1 text-center">FREELANCER</p>
            </div>
            <div class="fundo2 d-flex justify-content-center align-items-center flex-column p-2">
                <p>1000 video lessons</p>
                <p class="risco2"></p>
                <p>Normal speed</p>
                <p class="risco2"></p>
                <p>500 solved exercises</p>
                <p class="risco2"></p>
                <p>300MB to save your code</p>
                <p class="risco2"></p>
                <p>750 hours of support</p>
                <p class="risco2"></p>
                <button class="btn btn-success">Sign up</button>
            </div>
        </div>
        <div class="col-sm">
            <div class="fundo3 d-flex justify-content-center align-items-center flex-column p-4">
                <h4 class="text-white"> <small class="text-white">$ </small> 35 <span class="text-white">/ month</span>
                </h4>
                <p class="text-white font-weight-bold">Ultimade</p>
                <p class="fundo4 text-white text-center">BEST VALUE</p>
            </div>
            <div class="fundo2 d-flex justify-content-center align-items-center flex-column p-2">
                <p>3000 video lessons</p>
                <p class="risco2"></p>
                <p>2x speed</p>
                <p class="risco2"></p>
                <p>2000 solved exercises</p>
                <p class="risco2"></p>
                <p>500MB to save your code</p>
                <p class="risco2"></p>
                <p>900 hours of support</p>
                <p class="risco2"></p>
                <button class="btn btn-success">Sign up</button>
            </div>
        </div>
        <div class="col-sm">
            <div class="fundo d-flex justify-content-center align-items-center flex-column p-4">
                <h4> <small>$ </small> 75 <span> / month</span></h4>
                <p class="font-weight-bold">Platinum</p>
                <p class="fundo1 text-center">BIG COMPANY</p>
            </div>
            <div class="fundo2 d-flex justify-content-center align-items-center flex-column p-2">
                <p>5000 video lessons</p>
                <p class="risco2"></p>
                <p>4x speed</p>
                <p class="risco2"></p>
                <p>4000 solved exercises</p>
                <p class="risco2"></p>
                <p>900MB to save your code</p>
                <p class="risco2"></p>
                <p>Unlimited hour of support</p>
                <p class="risco2"></p>
                <button class="btn btn-success">Sign up</button>
            </div>
        </div>
    </div>
</div>