<div class="row">
    <div class="card-body text-white">
        <h5 class="h5body font-weight-bold ml-3">Monthly Subscription </h5>
       <span><span class="sm1 font-weight-bold ml-3">$29</span><span class="sm2 m-3">per month</span></span> 
        <p class="pbody ml-3">Full access for less than $1 a day</p>
       <app-button></app-button>
    </div>

    <div class="card-footer text-white">
        <h5 class="font-weight-bold ml-3">Why Us </h5>
        <p class="mb-0 ml-3"> Tutorials by industry experts </p>
        <p class="mb-0 ml-3"> Peer & expert code review </p>
        <p class="mb-0 ml-3"> Coding exercises </p>
        <p class="mb-0 ml-3"> Access to our GitHub repos </p>
        <p class="mb-0 ml-3"> Community forum </p>
        <p class="mb-0 ml-3"> Flashcard decks </p>
        <p class="mb-0 ml-3"> New videos every week</p>
    </div>
</div>