.my-button {
  width: 50%;
  height: 3rem;
  display: flex;
  margin-top: 10px;
  margin-left: 140px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px dotted white;
  background: rgb(69, 16, 168);
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.my-button:hover {  
  background: rgb(231, 12, 166);
  color: #fff;
}
