
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler btn-success bg-success" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Awesome</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Call to action</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Price</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Testimonial</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Button</button>
            </form>
        </div>
    </nav>


<div class="aheader text-white text-center">
    <h1 class="display-3">Awesome Template</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting</p>
</div>