<!--  <h1>O nome do meu projeto é {{ title }}</h1>

<h2>Dados do cliente</h2>
<ul>
  <li>Nome: {{ user.name }}</li>
  <li>Age: {{ user.age }}</li>
  <li>Gênero: {{ user.gender }}</li>
</ul>

<button [disabled]="isDisabled">Botão</button>
<button (click)="save($event)">Salvar</button>

<input type="text" [(ngModel)]="name" name="text-input">
<p>{{ name }}</p>  

<app-ng-style></app-ng-style>
<ng-class></ng-class>
<ng-if></ng-if>
<app-ng-switch></app-ng-switch>
<app-ng-for></app-ng-for>
<app-ng-template></app-ng-template>
<app-ng-container></app-ng-container>-->

<app-ng-content>
  <p>Nome: Josie</p>
  <p>Idade: 35</p>
  <p>Sexo: F</p>
</app-ng-content>