<div class="container">
    <div class="services mt-5 mb-5">
        <h2 class="display-4 risco">Services</h2>
    </div>
    <div class="row text-center">
 
        <div class="cinza col-sm mr-5 mb-5 d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho"></div>
            <h5>24/7 Support</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="col-sm mb-5 d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho1"></div>
            <h5>Quick Install</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="cinza col-sm ml-5 mb-5 d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho2"></div>
            <h5>Easy to Customize</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm mr-5 d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho3"></div>
            <h5>Another Feature</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="cinza col-sm d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho4"></div>
            <h5>24/7 Support</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="col-sm ml-5 d-flex justify-content-center align-items-center flex-column">
            <div class="tamanho5"></div>
            <h5>Quick Install</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col action p-5">
            
            <h2 class="titulo display-4 risco mb-5">Call to Action</h2>
            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type</p>
        </div>
    </div>
</div>