.input {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 2.5px dashed rgb(3, 15, 122);
  font-size: 30px;
  position: relative;
  background: rgb(220, 216, 241);
  color: rgb(199, 17, 47);
  margin-top: 10px;
}

.input:focus {
  outline: none;
}
