<div class="container">

    <div class="d-flex justify-content-center align-items-center mt-5">
        <h2 class="display-4 mt-2 mb-5">Features</h2>        
    </div>
   
    <div class="row mb-5">
     
        <div class="col-sm d-flex justify-content-center align-items-center flex-column">
          
            <div class="tamanho"></div>  
            <h4>Responsive Design</h4>
            <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-sm d-flex justify-content-center align-items-center flex-column">
          
            <div class="imagem2 col-sm"></div>  
            <h4>Clean Code</h4>
            <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-sm d-flex justify-content-center align-items-center flex-column">
         
            <div class="imagem3 col-sm"></div>  
            <h4>24/7 Support</h4>
            <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>

        <div class="col-sm d-flex justify-content-center align-items-center flex-column">
          
            <div class="imagem4 col-sm"></div>  
            <h4>Modern Design</h4>
            <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>

    </div>
</div>